.select_style {
    width: 100%;
    padding: 4px;
    color: #ffffff;
    background: #365558;
    border: none;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

option {
    text-transform: uppercase;
}

.select_style:focus {
    outline: none;
}